---
import Layout from '@layouts/es/Primary.astro';
import Hero from '@components/Hero.astro';
import { Content as AboutMe } from '@markdown/es/about.md';
---

<Layout title="Carlos E. Ortega">
  <main>
    <Hero>
      <AboutMe />
    </Hero>
  </main>
</Layout>
